   
/* BASIC COLOR */
$primary_color		: #DDE9ED !default;
$secondary_color	: #EE7F4B !default;
$font_color			: #474747 !default;
$white_color		: #ffffff !default;
$black_color		: #000000 !default;

// $percentage_color_code : %23DDE9ED;

/* FONTS */
$primary_font   : 'Nunito Sans', sans-serif;
$secondary_font : 'Cormorant', serif;