.woocommerce-wishlist {
	ul.responsive {
		padding: 0;
	}

	#content {

		.entry-content {
			margin-top: 0;

			p {
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}

			}

		}//.entry-content

		.wishlist-title {

			h2 {
				margin-top: 0;
				margin-bottom: 20px;
				padding: 0;
				font-size: 1.2em;
			}//h2

		}//.wishlist-title

		.wishlist_table.shop_table {
			border: none;
			margin: 0;
			border-radius: 0;
			font-size: 1em;

			thead {
				display: none;
			}//thead

			tbody {

				tr {
					background: none;

					&:first-child {

						td {
							border-top: none;
						}

					}

				}//tr

				td {
					padding: 20px 10px;

					.remove {
						font-family: primary_font;
						color: $white_color !important;
						background: rgba($black_color, 0.5);
						width: 20px;
						height: 20px;
						font-size: 1em;
						line-height: 18px;
						font-weight: 400;
						text-indent: 1px;
						padding: 0 !important;

						&:hover {
							background: red;
						}

					}//.remove

					img {
						width: 75px;
					}//img

					a {
						vertical-align: middle;
						text-transform: uppercase;
						color: $black_color;
						font-size: 0.7em;
						font-weight: 700;
						letter-spacing: 1px;
						display: inline-block !important;
						padding-top: 15px !important;
						padding-bottom: 15px !important;

						&.yith-wcqv-button {
							padding: 0;
							margin-left: 10px;
							display: inline-block;
							width: 35px;
							height: 35px;
							white-space: nowrap;
							background-color: rgba($black_color, 0.03);
							background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');
							background-repeat: no-repeat;
							background-position: center;
							background-size: 15px;
							white-space: nowrap;
							font-size: 0;
							@include transition(all ease 0.35s);

							&:hover {
								background-color: $secondary_color;
								background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');

							}//&:hover

						}//.yith-wcqv-button

					}//a

					&.product-price {
						font-size: 0.9em;
						color: #777;

						del {
							color: rgba($black_color, 0.25);
							margin-right: 10px;
						}

						ins {
							background: none;
						}

					}//&.product-price

					.wishlist-in-stock {
						color: #7EBC59;
						font-size: 0.9em;
					}

					&.product-add-to-cart {

						.button {
							background: $black_color;
							color: $white_color;
							border-radius: 0;
							padding: 15px 20px;

							&:hover {
								background: $secondary_color;
							}

						}//.button

					}//&.product-add-to-cart

				}//td

			}//tbody

		}//table.shop_table

	}//#content

}//woocommerce-wishlist

@include media(xs) {

	.woocommerce-wishlist {

		#content {

			table.wishlist_table.shop_table {
				display: block;

				tbody, tfoot {
					display: block;
				}

				tbody {

					tr {
						display: block;
						background: none;
						border-top: 3px solid rgba(0,0,0,0.1);
						padding-top: 10px;

						&:first-child {
							margin-top: 0;
							border-top: none;
						}

						td {
							display: block;
							position: relative;
							border-top: none;
							border-bottom: 1px solid rgba($black_color, 0.1);
							padding-left: 40%;
							text-align: left;

							&::before {
								content: "";
								position: absolute;
								top: 0;
								left: 10px;
								display: flex;
								flex: 1;
								flex-direction: column;
								justify-content: center;
								bottom: 0;
								color: $black_color;
								font-size: 0.7em;
								font-weight: 700;
								width: 35%;
								text-align: left;
							}

							&.product-remove, 
							&.product-thumbnail, 
							&.product-add-to-cart {
								padding-left: 10px;
								text-align: center;

								&::before {
									display: none;
								}

							}

							&.product-remove {
								border-bottom: none;
								padding: 0;
								text-align: right;
							}

							&.product-thumbnail {
								padding: 0;
								max-width: 100%;
								text-align: center;
							}

							&.product-name::before {
								content: "Product Name";
							}

							&.product-price::before {
								content: "Unite Price";
							}

							&.product-stock-status::before {
								content: "Stock Status";
							}

						}//td

					}//tr

				}//tbody

			}//table.wishlist_table.shop_table

		}//#content

	}//.woocommerce-wishlist

}//media(xs)